node_modules
.git
.gitignore
*.md
LICENSE
.env
.env.*
docker-compose.yml
**/docker-compose.yml
server/node_modules
server/src
client/node_modules
client/src
client/public
client/electron
client/android
client/ios
script
*.keystore
