/*
.ql-snow {
  .ql-picker {
    &.ql-size {
      .ql-picker-label,
      .ql-picker-item {
        &::before {
          content: attr(data-value) !important;
        }
      }
    }
  }
}
*/

.ql-editor {
  font-size: 16px;
  border-bottom: 1px solid #00000022;
  min-height: calc(100vh - 150px) ;
}

.ql-editor img {
  height: auto !important;
}

.ql-toolbar {
  top: 0;
  /* background-color: #ffffff !important; */
  z-index: 2;
  border-left: none !important;
  border-top: none !important;
  border-right: none !important;
  border-bottom: solid 1px #aaaaaa55 !important;
  /* box-shadow: 0px 3px 3px #55555520; */
}

.ql-clipboard {
   position: fixed;
   display: none;

   left: 50%;
   top: 50%;
}


@font-face {
  font-family: 'excalidraw'; 
  src: url('./excalidraw_assets/fonts/Excalifont/Excalifont-Regular-a88b72a24fb54c9f94e3b5fdaa7481c9.woff2') format('woff2'),
}

.ql-font-excalidraw {
    font-family: 'excalidraw', sans-serif;
}

@font-face {
  font-family: 'lilita'; 
  src: url('./excalidraw_assets/fonts/Lilita/Lilita-Regular-i7dPIFZ9Zz-WBtRtedDbYEF8RXi4EwQ.woff2') format('woff2'),
}

.ql-font-lilita {
    font-family: 'lilita', sans-serif;
}

@font-face {
  font-family: 'ComicShanns'; 
  src: url('./excalidraw_assets/fonts/ComicShanns/ComicShanns-Regular-279a7b317d12eb88de06167bd672b4b4.woff2') format('woff2'),
}

.ql-font-ComicShanns {
    font-family: 'ComicShanns', sans-serif;
}

@font-face {
  font-family: 'Nunito'; 
  src: url('./excalidraw_assets/fonts/Nunito/Nunito-Regular-XRXI3I6Li01BKofiOc5wtlZ2di8HDIkhdTQ3j6zbXWjgeg.woff2') format('woff2'),
}

.ql-font-Nunito {
    font-family: 'Nunito', sans-serif;
}
